@charset "utf-8";

*{margin: 0;padding: 0;box-sizing: border-box;}
ul,li{list-style:none;}
a:link,a:visited{
    text-decoration: none;
    color: black;
}

.clearfix:after{
    content:"";
    display: block;
    clear: both;
} 


body{
    height: 300vh;
    font-family: "Noto Sans",sans-serif;
}
.hd{
    display: block;
    unicode-bidi: isolate;
}
.hd::before{
    z-index: 1;
    height: 1px;
    background: #f0f1f2
}
.hd:after{
    overflow: hidden;
    display: block;
    height: 100px;
    background: rgb(255, 255, 255);
}
header.hd:hover {
    background: rgba(255, 255, 255, 1);
}

.hdWrap{
    width: 1280px;
    margin: 0 auto;
    position: relative;
    
}

.hdWrap .common{
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    float: left;
}

.hdWrap .common h1{
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 32px;
    background: url(../01tag/images/bi.6acdb84.png) no-repeat 0 0;
    background-size: 165px auto;
    font-size: 0;
    text-indent: -9999px;
}

.hdWrap .common h1>a{
    display: block;
    width: 165px;
    height: 35px;
}

.hdWrap .panel-content{
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: right;
    float: right;
}

.hdWrap .panel-content nav{
    display: inline;
}

.hdWrap nav .menu-list{
    height: 76px;
    margin: 0 10px;
}

.hdWrap nav .menu-list>li{
    float: right;
    display: block;
    position: relative;
    width: 170px;
    text-align: center;
}

.hdWrap nav .menu-list>li:hover>a{
    border-bottom: 4px solid #ffd44a;
}

.hd:after .menu-list:hover{
    overflow: visible;
}
.menu-list:hover .sub-menu{
    visibility: visible;
}
.hdWrap nav .menu-list>li>a{
    display: inline-block;
    height: 76px;
    box-sizing: border-box;
    line-height: 76px;
    font-weight: 700;
    font-size: 20px;
}

.hdWrap nav .sub-menu{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 76px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 55px;
    padding-top: 32px;
    text-align: left;
    transform: translateY(-30px);
    visibility: hidden;
    background-color: white;
}


.container{
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

.bg-gray{
    background-color: #ddd !important;
}
.bg-orange{
    background-color: orange !important;
}
.bg-sky{
    background-color: skyblue !important;
}


.hd{
    box-shadow:0 0 10px rgba(0,0,0,0.3) ;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99999;
}
.menuWrap{
    display: flex;
    justify-content:space-between;
    /* height: 70px; */
    padding: 10px 0;
    /* align-items: center; */
}

.menuWrap .gnb ul{display: flex;}
.menuWrap .gnb li{width: 150px;height: 50px;}
.menuWrap .gnb a{
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuWrap .gnb a:hover{
    font-weight: bold;
}

.menuWrap .sns{
    display: flex;
    align-self: center;
    gap:10px
    
}
.menuWrap .sns li{
    width: 40px;height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50% ;
    background: #00f;
    color:white
}


.visual{
    height: 100vh;
    min-height: 600px;
    margin-bottom: 50px;
}


.top{
    width: 100px;height: 100px;
    position: fixed;
    right: 10px;bottom: 10px;
    background-color: red;
    border-radius: 50%;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.banner .card{
    width: 384px;height: 580px;
}

.banner .card .imgWrap img{transition: 0.3s;}
.banner .card .imgWrap:hover img{
    /* transform:translate(0,0) scale(1) rotate(10deg); */
    transform: translate(0,-20px);
    box-shadow: 0 30px 20px rgba(0,0,0,0.2);
}

.banner .card .card-text{
    padding: 16px 20px;
}

.banner .card .card-text h3{
    font-size: 21px;
    margin-bottom: 10px;
}


/* 슬라이드부분 */

.visual{
    height: 100vh;
    min-height: 300px;
    margin-bottom: 50px;
}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    background: #fff;
}
.visual .item{
    height: 100vh;
    /* background-color: skyblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.visual .item.st1{
    background-image: url(../01tag/images/bn1.jpg);
}
.visual .item.st2{
    background-image: url(../01tag/images/bn2.jpg);
}
.visual .item.st3{
    background-image: url(../01tag/images/bn3.jpg);
}


.visual .item .textWrap{
    width: 1360px;
    padding-left: 20px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.visual .item .textWrap>.texttitle{
    display: table-cell;
    width: 100%;
    height: 210px;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -2.6px;
    vertical-align: bottom;
    text-indent: -2px;
}

.mg10{margin-bottom: 10px !important;}
.mg20{margin-bottom: 20px !important;}
.mg30{margin-bottom: 30px !important;}


/*  */

.sec1st{
    /* background-color: skyblue; */
    height: 500px;
    position: relative;
}
.sec1st .textWrap{
    
    width: 1114px;
    height: 338px;
    padding: 102px 520px 102px 104px;
    box-sizing: border-box;
    background-color: #ffd44a;
}

.sec1st .textWrap .sec1st{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: -1px;
}

.sec1st .img1{
    position: absolute;
    right: 0;bottom: 0;
}

/* cont */

.TcontWrap{
    position: relative;
    width: 1216px;
    margin: 0 auto;
    padding: 180px 32px;
    box-sizing: border-box;
    margin-bottom: 200px;
}

.TcontWrap .Th{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.41;
    letter-spacing: -2px;
    text-indent: -2px;
}
.TcontWrap .Tsub{
    padding-left: 624px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: -.6px;
}