@charset "utf-8";

@import 'base.scss';

body {
   font-family: $primary-font;
   font-size: $base-font-size;
}

.container {
   width: 1300px;
   margin: 0 auto;
   background: $primary-color;

   // 미디어쿼리 화면 크기별 반응형앱 제작
   @media screen and (max-width: 1300px) {
      width: 100%;
   }
}
